<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    TRABALHANDO COM PLURALIZAÇÃO!
  </h1>
  <div [ngPlural] = "quantidadeMensagens">
    <ng-template ngPluralCase = "0">
      Você leu todas as mensagens
    </ng-template>
    <ng-template ngPluralCase = "1">
      Você tem uma mensagem não lida
    </ng-template>
    <ng-template ngPluralCase = "other">
      Você possui {{quantidadeMensagens}} mensagens não lidas
    </ng-template>
  </div>

</div>

